{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section" id="experiences">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences.title }}
  </h2>

  {% assign sorted_experiences = site.experiences | sort: 'order' %}
  {% for experience in sorted_experiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title"><strong>{{ experience.role }}</strong></h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">
        {% if experience.company_url %}
        <a href="{{ experience.company_url }}" target="_blank">{{ experience.company }}</a>
        {% else %}
        {{ experience.company }}
        {% endif %}
      </div>

    </div><!--//meta-->

    <div class="details">
      <div class="brief-with-link">
        <span class="brief-text">{{ experience.brief }}</span>
        <a href="{{ experience.url | relative_url }}" class="read-more-link">Read more →</a>
      </div>
    </div><!--//details-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

