{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <table class="skill-table">
    {% for category in skills.categories %}
    <tr class="skill-row">
      <td class="skill-category-cell">{{ category.name }}</td>
      <td class="skill-pills-cell">
        {% for skill in category.items %}
        <span class="skill-pill">{{ skill }}</span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</section>
<!--//skills-section-->
{% endif %}
